mlflow.db
mlartifacts/
models/
outputs/
data/train_phase1.csv
data/eval.csv
data/train_phase2.csv
sa-key.json
.env
.venv/
__pycache__/
*.pyc
.DS_Store
.dvc/tmp/
.dvc/cache/
mlruns/
mlops-key
mlops-key.pub
cred_input.txt
generate_key.sh
gh_auth.bat
model.pkl
test_api.py
test_predict.py
